.hidden{
         display: none;
      }
      .visible{
         display: block;
      }
      .biker{
         position: relative;
         width: 200px;
         height: 120px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         top: +35px;
      }
      .biker-air{
         width: 200px;
         height: 120px;
         display: block;
         margin-left: auto;
         margin-right: auto;

         animation-name: animate-jump;
         animation-duration: 0.3s;
         animation-timing-function: ease-out;
         animation-iteration-count: 2;
         animation-direction: alternate;

      }

      .sliding-back{
         background: url("/views/raporty/img/linia.png") repeat-x;
         background-position: center; 
         animation: slide 20s linear infinite;
      }

      @keyframes plant-move{
         0%{left: 100%; transform: rotate(359deg);}
         100%{left: 0%; transform: rotate(-359deg);}
      }

      @keyframes animate-jump {
         0% {top: 0px;
            transform: scaleY(0.8) scaleX(1.1) rotate(0deg);
         }
         10%{transform: scaleY(1.0)rotate(-6deg);
            }
         30%{
            transform: scaleX(1.0) rotate(-20deg);
            
         }
         100%{top: -160px;
         transform: rotate(-20deg);
         }
      }

      @keyframes slide{
       0% { background-position:10000px 200px; }
       100% { background-position:0px 200px; }
      }

      .game{
         width: 85%;
         background-color: white;
         height: 400px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         position: absolute;
      }
      .plant{
         width: 50px;
         height: 50px;
         top: 150px;
         position: relative;
         left: 100%;
         filter: opacity(0%);
         display: block;
      }
      .plant-roll{
         animation-duration: 2.0s;
         animation-name: plant-move;
         display: block;
         position: relative;
         animation-timing-function: linear;
         filter: opacity(100%);
      }
      .score-box{
         position: absolute;
         left: 0px;
         top: 0px;
         }