hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #fff!important;
}

.container {
    width: 85%;
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
}

.fakeimg {
      height: 200px;
      background: #aaa;
  }
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .menu-link {
    text-decoration: none;
    text-transform: uppercase!important;
    color: #fff!important;
    padding: 8px 8px 6px 8px!important;
    
  }
  .menu-link:hover {
  
    text-decoration: none!important;
    
}

.menu-button:hover{
  background-color: #363636!important;
  border-width: 0px 0px 2px 0px;
  border-style: solid transparent;
}
.menu-button-active{

  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #ff9900;
}

.car-item-body{
  background-color: #1b1b1b!important;
}
.yellow-link{
  color: #ff9900!important;
}

.yellow-link:hover{
  color: #ff9900!important;
}

.white-link{
  color: #ddd!important;
}

.white-link:hover{
  color: #ff9900!important;
}



div.car-footer{
  background-color: #363636;
}

.input-field{
  background-color: #363636!important; 
  outline: 0!important; 
  border: none!important; 
  color: #ddd!important;
}

.white-text{
  color: #ddd!important;
}

.btn-yellow{
    color: #ddd;
    background-color: #1b1b1b;
    border-color: #ff9900;
}

.btn-yellow:hover{
    color: #ff9900;
}

#search-bar{
  background-color: #363636;
  outline: 0; 
  border: none!important; 
  color: #cacaca;
}

#search-filter-btn{
  background-color: #282828;
  color: #606060;
  
  font-size: 14px;

}

#filters-container{
  background-color: #1b1b1b;
}

.filters-card{
  background-color: #1b1b1b!important;
  outline: 0; 
  border: none!important; 
}

.filters-card-body{
  background-color: #1b1b1b!important;
  outline: 0; 
  border: none!important; 
  bor
}

.small-text{
  font-size: 14px!important;
  color: #cacaca;
}

.input-dark{
  background-color: #363636!important;
  outline: none!important; 
  border: none!important; 
  color: #cacaca!important;
}

.img-box{box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);border-radius: 2px;border: 0;}

.fixed-height{
    float: none;
    display: table-cell;
    vertical-align: top;
}

.btn-yellow-sell{
    color: #f8f8f8; 
    background-color: #ff9900;
}

.btn-yellow-sell:hover{
    
    color: #1b1b1b; 
    background-color: #ff9900;
}

.btn-yellow-outline{
    color: #ff9900;
    background-color: #fff;
   border-radius: 2px;
}

.btn-yellow-outline:hover{
    color: #1b1b1b;
    background-color: #ff9900;
    background-image: none;
   
}

.no-border{
  outline: none!important; 
  border: none!important; 
}

.link {
  padding-top: 30px;
  padding-bottom: 30px!;
}

.rowy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back{
  background-color: #f7f7f7!important;
}

.big-icon {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-size: 60px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    bottom: -10px;
    left: 50%;
    right: 0%;
    color: #ff9900;
   
}


.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.green-link{
  color: #2EC4B6!important;
}


.btn-green-submit:hover{
  color: #fff!important;
  background-color: #2EC4B6!important;
}

.btn-green-submit{
  color: #111!important;
  background-color: #2EC4B6!important;
}

.btn-cancel{
  color: #111!important;
  background-color: #ff2121!important;
}

.btn-cancel:hover{
  color: #fff!important;
  background-color: #ff2121!important;
}

.red-alert {
  border-width: 1px!important; 
  border-color: red!important;
}
